{% extends 'main/base.html' %}
{% load static %}
{% block title%}O.CHERRY{% endblock %}
{% block content %}

    <div class="main">
        <!-- Intro start-->
        <section class="intro">
            <div class="wrapper">
                <div class="intro__wrapp-two">
                    <div class="intro__title-many">
                        <h1 class="intro__title">Need Сreative Design?</h1>
                        <h1 class="intro__subtitle">I Can Help You!</h1>
                    </div>
                    <div class="intro-photo">
                        <img src="{% static 'img/Mask group.jpg' %}" alt="Cheryarina" class="intro__photo-me">
                    </div>
                </div>

            </div>
        </section>
        <!-- intro finish-->

        <!-- feedback finish-->
    </div>
{% endblock %}