{% extends 'main/base.html' %}
{% load static %}
{% block title%}Работы{% endblock %}
{% block content %}
    <div class="main">

        <section class="test">
            <div class="wrapper__test">
                <h1 class="test__title">ВЫБЕРИТЕ тип картинки</h1>
                <div class="test__buttons">
                    <a href="{% url 'inst_p' %}" class="test__button">пост</a>
                    <a href="{% url 'inst_s' %}" class="test__button">сторис</a>
                </div>
            </div>

        </section>
    </div>
{% endblock %}