{% extends 'main/base.html' %}
{% load static %}
{% block title%}Работы{% endblock %}
{% block content %}
    <div class="main">
        <section class="works_inst_story">
            <div class="wrapper__works_inst_story">
                <div class="works__buttons">
                    <img src="{% static 'img/11.11-01.png' %}" alt="adapt_st1" class="works__button_half">
                    <img src="{% static 'img/11.11-02.png' %}" alt="adapt_st2" class="works__button_half">
                    <img src="{% static 'img/11.11-03.png' %}" alt="adapt_st3" class="works__button_half">
                    <img src="{% static 'img/11.11-04.png' %}" alt="adapt_st4" class="works__button_half">
                    <img src="{% static 'img/дэрэинст-03.png' %}" alt="adapt_st5" class="works__button_half">
                    <img src="{% static 'img/заявки_Монтажная область 1.png' %}" alt="adapt_st6" class="works__button_half">
                    <img src="{% static 'img/видос_Монтажная область 1.png' %}" alt="fiz_vid1" class="works__button_half">
                    <img src="{% static 'img/centure gothic.png' %}" alt="fiz_fen" class="works__button_half">
                    <img src="{% static 'img/3stories_ssa.png' %}" alt="ssa" class="works__button_half">
                    <img src="{% static 'img/13Montazhnaya_oblast_1.png' %}" alt="quote" class="works__button_half">
                </div>
            </div>
        </section>
    </div>
{% endblock %}