{% extends 'main/base.html' %}
{% load static %}
{% block title%}Работы{% endblock %}
{% block content %}
    <div class="main">
        <section class="works_inst_post">
            <div class="wrapper__works_inst_post">
                <div class="works__buttons">
                    <img src="{% static 'img/8 марта итог_Монтажная область 1 копия 5.png' %}" alt="adapt_8mar1" class="works__button_big">
                    <img src="{% static 'img/8 марта итог_Монтажная область 1 копия.png' %}" alt="adapt_8mar2" class="works__button_big">
                    <img src="{% static 'img/8 марта итог_Монтажная область 1.png' %}" alt="adapt_8mar3" class="works__button_big">
                    <img src="{% static 'img/8 марта итог_Монтажная область 1 копия 3.png' %}" alt="adapt_8mar4" class="works__button_big">
                    <img src="{% static 'img/8 марта итог_Монтажная область 1 копия 4.png' %}" alt="adapt_8mar5" class="works__button_big">
                    <img src="{% static 'img/8 марта итог_Монтажная область 1 копия 2.png' %}" alt="adapt_8mar6" class="works__button_big">
                    <img src="{% static 'img/дритог_Монтажная область 1 копия 2.png' %}" alt="adapt1" class="works__button_big">
                    <img src="{% static 'img/дон3_Монтажная область 1.png' %}" alt="adapt2" class="works__button_big">
                    <img src="{% static 'img/шаблон др новый_Монтажная область 1 копия 21.png' %}" alt="adapt3" class="works__button_big">
                    <img src="{% static 'img/из чего_Монтажная область 1 копия 14.png' %}" alt="adapt_per1" class="works__button_big">
                    <img src="{% static 'img/из чего_Монтажная область 1 копия 15.png' %}" alt="adapt_per2" class="works__button_big">
                    <img src="{% static 'img/из чего_Монтажная область 1 копия 16.png' %}" alt="adapt_per3" class="works__button_big">
                    <img src="{% static 'img/из чего_Монтажная область 1 копия 17.png' %}" alt="adapt_per4" class="works__button_big">
                    <img src="{% static 'img/из чего_Монтажная область 1 копия 18.png' %}" alt="adapt_per5" class="works__button_big">
                    <img src="{% static 'img/из чего_Монтажная область 1 копия 19.png' %}" alt="adapt_per6" class="works__button_big">
                    <img src="{% static 'img/каким было_Монтажная область 1.png' %}" alt="adapt_kak1" class="works__button_half">
                    <img src="{% static 'img/каким было_Монтажная область 1 копия.png' %}" alt="adapt_kak2" class="works__button_half">
                    <img src="{% static 'img/каким было_Монтажная область 1 копия 2.png' %}" alt="adapt_kak3" class="works__button_half">
                    <img src="{% static 'img/каким было_Монтажная область 1 копия 3.png' %}" alt="adapt_kak4" class="works__button_half">
                    <img src="{% static 'img/каким было_Монтажная область 1 копия 4.png' %}" alt="adapt_kak5" class="works__button_half">
                    <img src="{% static 'img/каким было_Монтажная область 1 копия 5.png' %}" alt="adapt_kak6" class="works__button_half">
                    <img src="{% static 'img/радио3_Монтажная область 1.png' %}" alt="adapt_rad1" class="works__button_big">
                    <img src="{% static 'img/радио4_Монтажная область 1 копия 3.png' %}" alt="adapt_rad2" class="works__button_big">
                    <img src="{% static 'img/радио3_Монтажная область 1 копия 2.png' %}" alt="adapt_rad3" class="works__button_big">
                    <img src="{% static 'img/радио3_Монтажная область 1 копия 4.png' %}" alt="adapt_rad4" class="works__button_big">
                    <img src="{% static 'img/радио3_Монтажная область 1 копия 5.png' %}" alt="adapt_rad5" class="works__button_big">
                    <img src="{% static 'img/радио3_Монтажная область 1 копия 6.png' %}" alt="adapt_rad6" class="works__button_big">
                    <img src="{% static 'img/цвета-07.png' %}" alt="adapt_col1" class="works__button_big">
                    <img src="{% static 'img/цвета-08 — копия.png' %}" alt="adapt_col2" class="works__button_big">
                    <img src="{% static 'img/цвета-09 — копия.png' %}" alt="adapt_col3" class="works__button_big">
                    <img src="{% static 'img/цвета-10.png' %}" alt="adapt_col4" class="works__button_big">
                    <img src="{% static 'img/цвета-11 — копия.png' %}" alt="adapt_col5" class="works__button_big">
                    <img src="{% static 'img/цвета-12.png' %}" alt="adapt_col6" class="works__button_big">

                </div>
            </div>
        </section>
    </div>
{% endblock %}