{% extends 'main/base.html' %}
{% load static %}
{% block title%}Работы{% endblock %}
{% block content %}
    <div class="main">
        <section class="works_product_merch">
            <div class="wrapper__works_product_merch">
                <div class="works__buttons">
                    <img src="{% static 'img/мерч и печатка/Z4YXh70ynIX0XK-BWorDB53JmP6XnsCZOrnkzZAdtHae7C5JvFRPjMcDJVIbPDHhSdxd15PYHNiYqdB9txvD3yo8.jpg' %}" alt="adapt_st1" class="works__button_half">
                    <img src="{% static 'img/мерч и печатка/JZLvWgc5pwkbHS4aGXC-gxxePK3obuucMzotnB5Vm2Bore2cGHAuY2RLzdp0MPY1EFpZ-HjuSn1eikKHgmA_Pv8O.jpg' %}" alt="adapt_st1" class="works__button_half">
                    <img src="{% static 'img/мерч и печатка/FYCplKxeBZflgrKT8Kn9t7jybs3WHhRdcVVWYMVvB4qHEEBhWxSpkk1bYQ7N3nOyl3MxehPsqIgjPAOqZYBwGxnP.jpg' %}" alt="adapt_st1" class="works__button_large">
                    <img src="{% static 'img/мерч и печатка/проол.jpg' %}" alt="adapt_st1" class="works__button_half">
                    <img src="{% static 'img/мерч и печатка/View 1.png' %}" alt="adapt_st1" class="works__button_half">
                    <img src="{% static 'img/мерч и печатка/Back_View_Hoodie_Mockup.png' %}" alt="adapt_st1" class="works__button_half">
                    <img src="{% static 'img/мерч и печатка/сумка.png' %}" alt="adapt_st1" class="works__button_half">
                </div>
            </div>
        </section>
    </div>
{% endblock %}