{% extends 'main/base.html' %}
{% load static %}
{% block title%}Работы{% endblock %}
{% block content %}
    <div class="main">
        <section class="works_product_print">
            <div class="wrapper__works_product_print">
                <div class="works__buttons">
                    <img src="{% static 'img/мерч и печатка/Lanyard_ID_badge_mockup_1.png' %}" alt="adapt_st1" class="works__button_half">
                    <img src="{% static 'img/мерч и печатка/Lanyard_ID_badge_mockup_2.png' %}" alt="adapt_st1" class="works__button_half">
                    <img src="{% static 'img/мерч и печатка/бейдж.png' %}" alt="adapt_st1" class="works__button_half">
                    <img src="{% static 'img/мерч и печатка/02 Potrait.png' %}" alt="adapt_st1" class="works__button_half ">
                    <img src="{% static 'img/мерч и печатка/стикеры1.png' %}" alt="adapt_st1" class="works__button_half ">
                    <img src="{% static 'img/мерч и печатка/стикеры2.png' %}" alt="adapt_st1" class="works__button_half ">
                    <img src="{% static 'img/мерч и печатка/стикеры3.png' %}" alt="adapt_st1" class="works__button_half ">
                    <img src="{% static 'img/мерч и печатка/стикеры4.png' %}" alt="adapt_st1" class="works__button_half ">
                    <img src="{% static 'img/мерч и печатка/блокнот1.png' %}" alt="adapt_st1" class="works__button_large">
                    <img src="{% static 'img/мерч и печатка/блокнот2.png' %}" alt="adapt_st1" class="works__button_half">
                    <img src="{% static 'img/мерч и печатка/блокнот3.png' %}" alt="adapt_st1" class="works__button_half">
                    <img src="{% static 'img/мерч и печатка/блокнот4.png' %}" alt="adapt_st1" class="works__button_half">
                    <img src="{% static 'img/мерч и печатка/блокнот5.png' %}" alt="adapt_st1" class="works__button_half">


                </div>
            </div>
        </section>
    </div>
{% endblock %}