{% extends 'main/base.html' %}
{% load static %}
{% block title%}Работы{% endblock %}
{% block content %}
    <div class="main">
        <section class="works_vk_adv">
            <div class="wrapper__works_vk_adv">
                <div class="works__buttons">
                    <img src="{% static 'img/jrjg2_Монтажная область 1 1.jpg' %}" alt="fizmekh-pr1" class="works__button_big">
                    <img src="{% static 'img/jrjg2_Монтажная область 1 копия 1.jpg' %}" alt="fizmekh-pr2" class="works__button_big">
                    <img src="{% static 'img/орк3_Монтажная область 1 копия 3 1.jpg' %}" alt="fizmekh-pr3" class="works__button_big">
                    <img src="{% static 'img/итогокоп_Монтажная область 1 копия 2 1.jpg' %}" alt="fizmekh-pr4" class="works__button_large">
                    <img src="{% static 'img/2.jpg' %}" alt="fizmekh" class="works__button_big">
                    <img src="{% static 'img/6.jpg' %}" alt="fizmekh" class="works__button_big">
                    <img src="{% static 'img/4.jpg' %}" alt="fizmekh" class="works__button_big">
                    <img src="{% static 'img/5.jpg' %}" alt="fizmekh" class="works__button_big">
                    <img src="{% static 'img/3.jpg' %}" alt="fizmekh" class="works__button_big">
                    <img src="{% static 'img/1.jpg' %}" alt="fizmekh" class="works__button_big">
                    <img src="{% static 'img/культорги_Монтажная область 1 копия 1.jpg' %}" alt="fizmekh" class="works__button_half">
                    <img src="{% static 'img/токсово_Монтажная область 1 1.jpg' %}" alt="fizmekh" class="works__button_half">
                    <img src="{% static 'img/обложки-01.jpg' %}" alt="fizmekh" class="works__button_half">
                    <img src="{% static 'img/обложки-02.jpg' %}" alt="fizmekh" class="works__button_half">
                    <img src="{% static 'img/нрси-02.jpg' %}" alt="fizmekh" class="works__button_half">
                    <img src="{% static 'img/ночь кино-03.jpg' %}" alt="fizmekh" class="works__button_half">
                    <img src="{% static 'img/км-01 1.jpg' %}" alt="fizmekh" class="works__button_half">
                    <img src="{% static 'img/тв_Монтажная область 1 копия 1.jpg' %}" alt="fizmekh" class="works__button_half">
                </div>
            </div>
        </section>
    </div>
{% endblock %}