{% extends 'main/base.html' %}
{% load static %}
{% block title%}Работы{% endblock %}
{% block content %}
    <div class="main">
        <section class="works">
            <div class="wrapper__works">
                <div class="works__buttons">
                    <img src="{% static 'img/fizmekh (2)-05 1.jpg' %}" alt="fizmekh-large " class="works__button_large">
                    <img src="{% static 'img/fizmekh (2)-03 1.jpg' %}" alt="logo_1" class="works__button_small">
                    <img src="{% static 'img/шаблоны новые-02 1.jpg' %}" alt="template_1" class="works__button_small">
                    <img src="{% static 'img/шаблоны новые-01 1.jpg' %}" alt="template_2" class="works__button_small">
                    <img src="{% static 'img/шапка+лого-04 1.jpg' %}" alt="logo_2" class="works__button_small">
                    <img src="{% static 'img/выезд_Монтажная область 1 1.jpg' %}" alt="viezd" class="works__button_small">
                    <img src="{% static 'img/мукулатура_Монтажная область 1 1.jpg' %}" alt="eco" class="works__button_small">
                    <img src="{% static 'img/8 иннст_Монтажная область 1 1.jpg' %}" alt="women_day" class="works__button_small">
                    <img src="{% static 'img/а-02 1.jpg' %}" alt="adapt" class="works__button_small">
                    <img src="{% static 'img/инфо_Монтажная область 1 копия 3.jpg' %}" alt="info_1" class="works__button_big">
                    <img src="{% static 'img/инфо_Монтажная область 1.jpg' %}" alt="info_1" class="works__button_big">
                    <img src="{% static 'img/инфо_Монтажная область 1 копия 5.jpg' %}" alt="info_1" class="works__button_big">
                    <img src="{% static 'img/инфо_Монтажная область 1 копия.jpg' %}" alt="info_1" class="works__button_big">
                    <img src="{% static 'img/инфо_Монтажная область 1 копия 4.jpg' %}" alt="info_1" class="works__button_big">
                    <img src="{% static 'img/инфо_Монтажная область 1 копия 2.jpg' %}" alt="info_1" class="works__button_big">
                    <img src="{% static 'img/шаблон-01.jpg' %}" alt="adapt_1" class="works__button_big">
                    <img src="{% static 'img/шаблон-02.jpg' %}" alt="adapt_2" class="works__button_big">
                    <img src="{% static 'img/шаблон-03.jpg' %}" alt="adapt_3" class="works__button_big">
                    <img src="{% static 'img/Rectangle 19.jpg' %}" alt="adapt_4" class="works__button_half">
                    <img src="{% static 'img/видео тв_Монтажная область 1 копия 2-04 1.jpg' %}" alt="adapt_5" class="works__button_half">
                    <img src="{% static 'img/обложка_Монтажная область 1 копия 2-07 1.jpg' %}" alt="adapt_6" class="works__button_half">
                    <img src="{% static 'img/сатья1_Монтажная область 1 1.jpg' %}" alt="adapt_7" class="works__button_half">
                    <img src="{% static 'img/бадди1_Монтажная область 1 1.jpg' %}" alt="adapt_8" class="works__button_half">
                    <img src="{% static 'img/Rectangle 21.jpg ' %}" alt="adapt_9" class="works__button_half">
                    <img src="{% static 'img/цвета-06 1.jpg' %}" alt="adapt_10" class="works__button_half">
                    <img src="{% static 'img/карта маршрут_Mesa de trabajo 1 1.jpg' %}" alt="adapt_11" class="works__button_half">
                    <img src="{% static 'img/карта маршрут23-07 1.jpg' %}" alt="adapt_12" class="works__button_half">
                    <img src="{% static 'img/Anons_otbora_2022-06 1.jpg' %}" alt="adapt_13" class="works__button_half">
                </div>
            </div>
        </section>
    </div>
{% endblock %}